# SPDX-FileCopyrightText: 2020-2025 Fenrir contributors <https://github.com/ForNeVeR/Fenrir>
#
# SPDX-License-Identifier: MIT

# The build system items:
bin/
obj/

# ReSharper/Rider:
/.idea/
*.DotSettings.user

# Visual Studio:
.vs/
*.user

# Documentation generator:
/docs/_site/
/docs/api/
