# SPDX-FileCopyrightText: 2024-2026 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: MIT

name: Docs
on:
  push:
    branches:
      - master
      - renovate/**
  workflow_dispatch:

permissions:
  actions: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  publish-docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: NuGet Cache
        uses: actions/cache@v5
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.fsproj') }}

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5

      - name: Restore dotnet tools
        run: dotnet tool restore

      - name: Publish the project
        run: dotnet publish Fenrir.Git

      - name: Run docfx
        run: dotnet docfx docs/docfx.json

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs/_site'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
