# SPDX-FileCopyrightText: 2020-2025 Fenrir contributors <https://github.com/ForNeVeR/Fenrir>
#
# SPDX-License-Identifier: MIT

name: Main
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: 0 0 * * 6
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.image }}
    strategy:
      matrix:
        image: [macos-15, ubuntu-24.04, windows-2025]
      fail-fast: false
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages
    steps:
      - uses: actions/checkout@v6

      - if: runner.os != 'macOS' # TODO[#168]: Restore after https://github.com/actions/runner-images/issues/13341 gets fixed.
        name: NuGet Cache
        uses: actions/cache@v5
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.fsproj') }}
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5

      - name: Build .NET Assemblies
        run: dotnet build --configuration Release
      - name: Test
        run: dotnet test --configuration Release

      - name: Restore dotnet tools
        run: dotnet tool restore
      - name: Publish the project
        run: dotnet publish Fenrir.Git
      - name: Run docfx
        run: dotnet docfx docs/docfx.json --warningsAsErrors

  licenses:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the sources
        uses: actions/checkout@v6
      - name: REUSE license check
        uses: fsfe/reuse-action@v6

  encoding:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the sources
        uses: actions/checkout@v6
      - name: Verify encoding
        shell: pwsh
        run: scripts/Test-Encoding.ps1
